@charset "UTF-8";
/* CSS Reset */
* {
  box-sizing: border-box;
  /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* 重置字體 */
body {
  /* 需要""的字體名稱有：二個英文單字含空格、中文字體名稱
     不需要""的字體名稱有：一個單字、有「-」格開
     也可全部都給「""」 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* inline不支緩尺寸設定，但a常用來設定尺寸，所以直接把inline修改為block */
  color: #666;
  text-decoration: none;
  /* 取消預設底線 */
  /* 設定在元素本身，不要設定在hover上。
     設定在hover上及未停留滿動畫時間時，滑鼠離開沒有動畫 */
  transition: 0.4s;
}

.title {
  text-align: center;
}
.title h3 {
  font-family: "LXGW WenKai TC, cursive";
}