$deep:  #444;
$dark:  #666;
$grey:  #999;
$light: #f1f1f1;

/* 背景 */
$bg-1: #f2edf0;
$bg-2: #e6ece5;
$bg-3: #ecf0f4;


//間距
 $p-x-10: 0 10px;
 $p-x-15: 0 15px;


//字級
$f-s-sm:.8rem;
$f-s-md:1rem;
$f-s-lg:1.2rem;


  //RWD
$mediaSm:"max-width:640px"
$mediaMd:"max-width:820px"

    #contact {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* 主軸:垂直 */
    justify-content: center;
    /* 主軸(垂直)對齊：置中 */
    align-items: center;
    /* 副軸(水平)對齊：置中 */

    height: 100vh;
}
@media (max-width:820px) {
    #contact {
        height: auto;
    }

    }

 .content {
    display: flex;
    width: 80%;
@media (max-width:820px) {
    #contact {
        height: auto;
    }
}
}


    #topbar {
        .menu {
            padding: 0 10px;
            border-radius: 999px;

            a {
                font-family: "Ubuntu", sans-serif;
                font-weight: 700;
                margin: 10px;
                border-bottom: 2px solid transparent;
                /* 保留 hover 空間 */

                &:hover {
                    color: #222;
                    border-bottom: 2px solid #222;
                    /* 邊框-下 */
                }
            }
        }
    }

    .icon {
        &-fb {
            background-image: url(../images/icon-fb.svg);

            &:hover {
                background-image: url(../images/icon-fb-hover.svg);
            }
        }

        &-ig {
            background-image: url(../images/icon-ig.svg);

            &:hover {
                background-image: url(../images/icon-ig-hover.svg);
            }
        }

        &-line {
            background-image: url(../images/icon-line.svg);

            &:hover {
                background-image: url(../images/icon-line-hover.svg);
            }
        }
    }

    .title {
        h2 {
            font-family: Rosaline, serif;
            font-size: 2rem;
            font-weight: 700;
        }
    }

  